/* Style sheet for navigation bar elements */

nav {
  height: 120px;
  width: 100vw;
  position: fixed;
  top: 0;
  color: #FFFFFF;
  display: flex;  
  justify-content: space-between;
  background-color: #eaa92f;
  background-image: url("/images/swirl.png");
  font-family: 'Source Sans 3', 'sans-serif';
  padding: 1.5em;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee', 'sans-serif';
  font-size: 38px;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  font-size: 20px;
}

#nav-arrows {
  color: red;
}


@media only screen and (min-width: 1024px) {

  nav {
    height: 120px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #4056A1;
    background-image: url("/images/bright-squares.png");
    color: #FFFFFF;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .right-nav {
    font-size: 24px;
  }

}