body nav {
  height: 120px;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #4056A1;
  background-image: url("/images/bright-squares.png");
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;  
  justify-content: space-between;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee', 'sans-serif';
  font-size: 200%;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-solid, .fa-angles-down {
  color: red;
}