/* Style sheet for old tweet elements */

.tweet {
  border: 5px solid black;
  border-radius: 10px;
  padding: 1em;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet:hover {
  box-shadow: 5px 5px 5px #eaa92f;
}

.poster-info {
  display: flex;
  flex-direction: row;
}

#tweet-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
} 

.poster-name {
margin: 6px;
margin-top: 16px;
font-weight: 300;
font-size: 25px;
font-family: 'Source Sans 3', 'sans-serif';
color: black;
}

.poster-img {
  width: 60px;
  height: 60px;
  margin: 3px;
}

.poster-id p{
margin: 6px;
margin-top: 16px;
font-weight: 600;
font-size: 25px;
font-family: 'Source Sans 3', 'sans-serif';
color: rgb(159, 157, 157);
}

.tweet-text-box {
  display: flex;
  justify-content: center;
}

.tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid black;
  width: 85vw;
  height: auto;
  font-family: 'Source Sans 3', 'sans-serif';
  font-size: 20px;
  color:black;
  font-weight: 600;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 15px;
  margin-top: 40px;
}

.date {
  font-size: 15px;
  font-family:'Source Sans 3', 'sans-serif';
  font-weight: 600;
  padding-left: 15px;
}

.icons {
  padding-right: 15px;
}

.flag {
  border: none;
  padding: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  color: rgb(159, 157, 157);
}

.share {
  border: none;
  padding: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  color: rgb(159, 157, 157);
}

.like {
  border: none;
  padding: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  color: rgb(159, 157, 157);
}

.hover {
  color: #eaa92f
}

.clicked {
  color: #4056A1;
}


@media only screen and (min-width: 1024px) {

  .tweet {
    width: 60vw;
  }
  
}

